

<h1>Manage all the company Stuff here !</h1>

<div >
    <a ng-click='logout()' class="btn btn-primary" style="border-radius:15px;margin:-275px 10px 10px 1100px"  ><img src="../images/l.png" height="70" width="70" /></a> <br>
</div> <br>


<!--<div ng-controller="membersCtrl">
    <button type="button" ng-click="addMemberOrUpdatemember()" class="btn btn-primary">Members</button>
</div><br>-->




<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <button type="button" ng-click="getMember()" class="btn btn-default" style="border-radius:15px;margin:0px 0px 0px -20px "><img src="../images/t.jpg" height="150" width="170" /> </button>
        </div>

        <div class="col-xs-2">
            <button type="button" ng-click="getFinancesData()" class="btn btn-default" style="border-radius:15px;margin:0px 0px 0px -10px "><img src="../images/mo.png" height="150" width="170" /></button>

        </div>

        <div class="col-xs-2">
            <button type="button" ng-click="getMaterialsData()" class="btn btn-default" style="border-radius:15px; margin:0px 0px 0px 0px "><img src="../images/ma.png" height="150" width="170" /></button>

        </div>
        <div class="col-xs-2">
            <button type="button" ng-click="getClientsData()" class="btn btn-default" style="border-radius:15px;margin:0px 0px 0px 10px "><img src="../images/c.png" height="150" width="170" /></button>

        </div>
        <div class="col-xs-2">
            <button type="button" ng-click="getInventoryData()" class="btn btn-default" style="border-radius:15px;margin:0px 0px 0px 20px "><img src="../images/i.png" height="150" width="170" /></button>

        </div>
        <div class="col-xs-2">
            <button type="button" ng-click="goToResultsPage()" class="btn btn-default" style="border-radius:15px;margin:0px 0px 0px 30px "><img src="../images/r.png" height="150" width="170" /></button>

        </div>

    </div>
    </div> <br>

<div>
</div><br>

<div>
</div><br>

<div>
</div><br>

<div>
</div><br>







