<form class="form-group">

    <label> Please enter the client Name:</label>
    <input type="text" class="form-control" style="border-radius:10px" ng-model="clientName.clientsName" name="ClientName" value="" />
    <label> Please enter the client Location:</label>
    <input type="text" class="form-control" style="border-radius:10px" ng-model="clientName.clentsLocation" name="ClientName" value="" />
    <label> Please enter the client Email:</label>
    <input type="text" class="form-control" style="border-radius:10px" ng-model="clientName.clentsEmail" name="ClientName" value="" />
    <label> Please enter the client Adress:</label>
    <input type="text" class="form-control" style="border-radius:10px" ng-model="clientName.clientsAdress" name="ClientName" value="" />
    <label> Please enter the client AddedDate:</label>
    <input type="text" class="form-control" style="border-radius:10px" ng-model="clientName.clientsAddedDate" name="ClientName" value="" />
    <label> Please enter the clientsComments:</label>
    <input type="text" class="form-control" style="border-radius:10px" ng-model="clientName.clientsComments" name="ClientName" value="" /> <br>

    <button type="button" class="btn btn-success" style="border-radius:10px" ng-click="addClientName(clientName)">Submit</button>
    <button type="button" class="btn btn-success" style="border-radius:10px" ng-click="cancel()">Cancel</button>


</form>