<h1> Manage all the Finances details in this page </h1>

<p>please enter the expenses here for the daily uses </p>

<h2>Please find the income that has to be collected:</h2>
<div>
    <div class="btn btn-lg" style=" background-color:lightgrey; border:outset;border-color:lightcoral;border-radius:10px;width:200px">{{value}} </div>
</div>
<h2>Please find the amount that has to be paid: </h2>
<div class="btn btn-lg" style=" background-color:lightgrey; border:outset;border-color:lightcoral;border-radius:10px;width:200px">{{1000000}} </div>




