<h1>You can find all the materials here </h1>
<p>Please enter the materials in flow and out flow of raw materials</p>


    <div class="container">
        <div class="row">
            <a href="getmaterials">
                <div class="col-xs-4" style="border:solid  ;padding:25px;border-color:yellow;border-radius:15px" href=""> <span style="color:firebrick">Materials in flow :<br />
                          please enter the materials that was purchased per order </span>  </div>
            </a>
            <div class="col-xs-1"></div>
            <a href="getmaterials">
                <div class="col-xs-4" style="border:solid  ;padding:25px;border-color:yellow;border-radius:15px" href=""> <span style="color:firebrick">Materials in out flow: <br> materials that was given forr the outsource of our own products</span>  </div>
            </a>

        </div>
    </div>
    
